<div class="body-container">
  <div class="btn-back">
    <%= link_to '< Retour', user_session_path %>
  </div>
  <div class="primary-container">
    <h2>Mot de Passe</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="info-user">
        <h3>Email du compte</h3>
        <p>Pour l'envoi des instructions de modification du mot de passe</p>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Nouveau mot de passe", class: "btn-secondary btn-green" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
