  <% @events.each do |event| %>
    <div class="event-container-dashboard">
      <%= link_to event_path(event) do %>
        <div class="event-dashboard-title">
          <% day = event.date.strftime("%d") %>
          <% year = event.date.strftime("%Y") %>
          <%= event.name %>, le <%= day %> <%= french_month(event.date) %> <%= year %>
        </div>
      <% end %>
        <div class="event-dashboard-description">
          <!--
            <% if !event.url.nil? %>
              <% if event.url.strip != "" %>
                    <%= link_to event.url do %>
                      <div class="event-url"><i class="fa-solid fa-link"></i> <%= event.url.match(/\/\/(.*)/).captures[0] %></div>
                    <% end %>
              <% end %>
            <% end %>
            -->
          <div><%= event.description %></div>
        </div>
        <div class="action-buttons">
         <%= link_to "Voir en détails", event_path(event), class: "btn-dashboard btn-green " %>
          <%= link_to "Partager", "#", class: "btn-dashboard btn-purple" %>
        </div>
    </div>
  <% end %>
