
<div class="event-container-dashboard">

    <% @events.each do |event| %>
    <div class="event-dashboard-title">

      <%= event.name %>
      <%= event.date %>
    </div>
      <%= event.description %>
      <%= event.url %>
      <%= event.url %>
      <%= event.gift_list %>




    <% end %>

    </div>
