<div class="body-container">
  <div class="btn-back">
    <%= link_to '< Retour', root_path %>
  </div>
  <div class="dashboard">
    <div class="annual-calendar">
      <!-- J'ai mis le calendar en "component" pour plus de lisibilité -->
      <%= render 'shared/calendar' %>
      <div class="btn-secondary btn-green">
        <%= link_to raw("<i class='fa-solid fa-square-plus'></i> Nouvel évènement"), new_event_path %>
      </div>
        <!-- J'ai mis les events reliés au calendrier en "component" pour plus de lisibilité -->
        <%= render 'shared/event_calendar' %>
    </div>
    <div class="dashboard-right">
    <!-- J'ai mis les events reliés au dashboard en "component" pour plus de lisibilité -->
    <%= render 'shared/event_dashboard' %>
    </div>
  </div>

  <!-- Bouton rond mobile pour générer un nouvel event -->
  <div class="btn-mobile">
    <%= link_to raw('<i class="fa-solid fa-plus"></i>'), new_event_path %>
  </div>
</div>
