<div class="body-container">
  <div class="dashboard">
    <div class="annual-calendar">
      <!-- J'ai mis le calendar en "component" pour plus de lisibilité -->
      <%= render 'shared/calendar' %>
      <%= link_to new_event_path, :class=> "btn btn-green btn__theme btn-desktop" do %>
        <div class="btn__content">
        <%= image_tag('new-event.svg', alt: 'Nouvel Évènement') %>
        Nouvel évènement
        </div>
      <% end %>


        <!-- J'ai mis les events reliés au calendrier en "component" pour plus de lisibilité -->
        <%= render 'shared/event_calendar' %>
    </div>
    <div class="dashboard-right">
      <%= link_to :back, class: "btn-back" do %>
        <i class="fa-solid fa-chevron-left"></i> Retour
      <% end %>
    <!-- J'ai mis les events reliés au dashboard en "component" pour plus de lisibilité -->
    <%= render 'shared/event_dashboard' %>
    </div>
  </div>

  <!-- Bouton rond mobile pour générer un nouvel event -->
  <%= link_to new_event_path, :class=> "btn-mobile" do %>
    <i class='fa-solid fa-square-plus'></i>
  <% end %>

  <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete} %>

    <%= current_user %>




</div>
