<div class="body-container">
  <div class="dashboard">
    <div class="annual-calendar">
      <%= render 'shared/calendar' %>
      <%= link_to new_event_path, :class=> "btn btn-green btn__theme btn-desktop", id: "new-event" do %>
        <div class="btn__content">
        <%= image_tag('new-event.svg', alt: 'Nouvel Évènement') %>
        Nouvel évènement
        </div>
      <% end %>
      <% if !@events.empty? %>
        <%= render 'shared/event_calendar' %>
      <% end %>
    </div>
    <div class="dashboard-right">
      <%= link_to :back, class: "btn-back" do %>
        <i class="fa-solid fa-chevron-left"></i> Retour
      <% end %>
    <%= render 'shared/event_dashboard' %>
    </div>
  </div>

  <%= link_to new_event_path, :class=> "btn-mobile" do %>
    <i class='fa-solid fa-square-plus'></i>
  <% end %>
</div>
