<h1>Edit an event</h1>
<%= form_with(model: @event, url: event_path(@event), method: :patch) do |f| %>
  <h2><%= f.label :name, "Name" %></h2>
  <h2>  <%= f.text_field :name, class: 'no-box-input' %></h2>
  <%= f.label :date, "Date" %>
  <%= f.text_field :date, class: 'no-box-input' %>
  <%= f.text_field :date, class: 'no-box-input', :order => [:day, :month, :year] %>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description, class: 'no-box-input' %>
  <%= f.label :url, "URL" %>
  <%= f.text_field :url, class: 'no-box-input' %>
  <%= f.submit %>
<% end %>
