<div class="body-container">
  <div class="btn-back">
    <%= link_to '< Retour', event_path %>
  </div>


<div class="primary-container">
  <div class="title">Modifier mon évènement</div>
  <%= form_with(model: @event, url: event_path(@event), method: :patch) do |f| %>
    <div class="secondary-container">
      <h3>Nom de l'événement</h3>
      <%= f.text_field :name, class: 'no-box-input' %>
    </div>






    <%= f.label :date, "Date" %>
    <%= f.text_field :date, class: 'no-box-input' %>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, class: 'no-box-input' %>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url, class: 'no-box-input' %>
    <%= f.submit %>
  <% end %>

  <h2>Liste de cadeaux :</h2>



  <% if @event.gift.nil? %>
  <h2>There is no gift for this event yet</h2>"
  <% else %>
  <ul data-controller="delete-gift">
    <% @event.gift.generated_list.each_with_index do |gift, index| %>
      <li><%= gift %><div data-action="click->delete-gift#delete">X</div></li>
    <% end %>
  <% end %>
  </ul>
  <div class="btn-square btn-purple">
  btn</div>
  </div>
</div>
