<div class="body-container">

  <div class="primary-container">
    <%= link_to dashboard_path, class: "btn-back" do %>
      <i class="fa-solid fa-chevron-left"></i> Retour
    <% end %>

    <% model_to_use = [@gift, @event] || @event %>
    <%= form_with(model: model_to_use, url: events_path(gift_id: @gift.id)) do |f| %>
    <div class="date-and-recurrent">
      <div class="secondary-container date-section date-show">
        <% date = params[:date] || Date.today %>
        <%= f.text_field :date, value: date, class: 'no-box-input date-show', as: :string, data: { controller: "calendar" } %>
        <%= image_tag('calendar.svg') %>
      </div>

      <div class="secondary-container recurrent">
        <%= f.check_box :recurrent, {}, true, false %>
        <label for="event_recurrent">
          <span class="check"></span>
          Chaque année ?
        </label>
      </div>
    </div>

      <div class="secondary-container">
        <h3>Nom de l'évènement</h3>
        <%= f.text_field :name, class: 'no-box-input', placeholder: "Anniversaire de ..." %>
      </div>

      <div class="secondary-container">
        <h3><%= f.label :description, "Description" %></h3>
        <%= f.text_area :description, class: 'no-box-input', placeholder: "Pour le cadeau commun de ..." %>
      </div>


      <div class="secondary-container">
        <h3><%= f.label :url, "URL" %></h3>
      <%= f.text_field :url, class: 'no-box-input', placeholder: "leetchi.com" %>
      </div>

      <%# Need to find a way to display the error in case %>
      <% if false  %>
        <% if @event.errors.has_key?(:url) %>
          <div class="error-message">
            <%= @event.errors[:url].first %>
          </div>
        <% end %>
      <% end %>


      <div class="gifts-event">
        <% if @gift[:id] %>
          <h3>La liste de cadeaux</h3>
          <ul>
            <% @event.gift.generated_list.each do |gift| %>
              <li data-save-gift-target="gift">
                <div class="secondary-container">
                <div class="gift-container">
                  <div class="gift-left">
                    <%= image_tag('open-gift.png', class: 'icon-gift') %>
                    <div class="gift">
                      <%= gift %>
                    </div>
                  </div>
                </div>
                </div>
              </li>
            <% end %>
          </ul>
      </div>
      <% else %>
      <%= link_to new_gift_path do %>
        <%= image_tag('close-gift.svg', alt: 'gift') %>
      <% end %>
    <% end %>



    <div class="btn__theme btn btn-green">
      <%= button_tag(type: 'submit') do %>
        <div class="btn__content">
          <%= image_tag('new-event.svg') %>
          Créer l'évènement
        </div>
      <% end %>
    </div>

    <% end %>

  </div>

</div>
