<div class="body-container">
  <div class="btn-back">
    <%= link_to '< Retour', :back %>
  </div>

  <div class="primary-container">
    <div class="title">Mon évènement</div>

    <div class="date-show">
     <%= @event.date.strftime('%d/%m/%Y') %>
    </div>

    <div class="secondary-container">
      <h3>Nom de l'évènement</h3>
      <%= @event.name %>
    </div>

    <% if @event.description != "" %>
      <div class="secondary-container">
        <h3>Description</h3>
        <%= @event.description %>
      </div>
    <% end %>

    <% if @event.url != "" %>
      <div class="secondary-container">
        <h3>Lien</h3>
        <%= @event.url %>
      </div>
    <% end %>


    <% if @event.gift.class.name != "NilClass" %>
      <h3>Mes idées cadeaux</h3>
      <ul>
        <% @event.gift.generated_list.each do |gift| %>
          <li data-save-gift-target="gift">
            <div class="secondary-container geeft">
              <div class="gift-icon">
                <i class="fa-solid fa-gift"></i>
              </div>
              <div class="gift">
                <%= gift %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>


      <div class="btn-secondary btn-green">
        <%= link_to 'Trouver le parfait cadeau', new_event_gift_path(@event) %>
      </div>
      <% end %>

    <div class="btn-square btn-green">
      <%= link_to edit_event_path(@event), class: "icon-link" do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>


  <!-- Prévoir le bouton "Partager" -->
  <!-- <%= link_to 'Delete', event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> -->
  </div>

</div>
