<div class="body-container">
  <div class="primary-container">
    <%= link_to dashboard_path, class: "btn-back" do %>
      <i class="fa-solid fa-chevron-left"></i> Retour
    <% end %>

    <div class="form-container">
      <div class="top-section">
        <div class="date-section date-show">
          <span id="date"><%= @event.date.strftime('%d/%m/%Y') %></span>
          <%= image_tag('calendar.svg') %>
          <%# <i class="fa-solid fa-calendar"></i> %>
        </div>
        <%= link_to edit_event_path(@event), class: "btn btn-square btn-green btn__theme" do %>
          <div class="btn__content">
            <%= image_tag('pen.svg', alt: 'Modifier') %>
          </div>
        <% end %>
      </div>

      <div class="secondary-container">
        <h4>Nom de l'évènement</h4>
        <%= @event.name %>
      </div>

      <% if @event.description.present? %>
        <div class="secondary-container">
          <h4>Description</h4>
          <%= @event.description %>
        </div>
      <% end %>

      <% if @event.url.present? %>
        <div class="secondary-container">
          <h4>Lien</h4>
          <% url = @event.url.gsub(/https?:\/\/(www\.)?/, "") %>
          <%= link_to url, @event.url, target: :_blank %>
        </div>
      <% end %>

    </div>


    <div class="gifts-event">
        <% if @event.gift.present? %>
        <!--
          <h4>Les idées cadeaux</h4>
          <ul>
            <% @event.gift.generated_list.each do |gift| %>
              <li data-save-gift-target="gift">
                <div class="secondary-container">
                  <div class="gift-container">
                    <div class="gift-left">
                      <%= image_tag('open-gift.png', class: 'icon-gift') %>
                        <div class="gift">
                          <%= gift %>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
            <% end %>
          </ul>
        -->
    <%= render "shared/gifts_list_event" %>
    </div>


    <% else %>
      <%= link_to new_event_gift_path(@event), class: 'btn btn__theme btn-green' do %>
        <div class="btn__content">
          <%= image_tag('close-gift.svg', alt: 'Ajouter un cadeau') %>
          Trouver le cadeau parfait
        </div>
      <% end %>
    <% end %>
  </div>
</div>
