<h1>Show de l'event</h1>

<%= @event.name %>
<%= @event.date.strftime('%d/%m/%Y') %>
<%= @event.description %>
<%= @event.url %>
<br>
<% if @event.gift.class.name != "NilClass" %>
  <ul>
  <% @event.gift.generated_list.each do |gift| %>
    <li data-save-gift-target="gift"><%= gift %></li>
  <% end %>
  </ul>
<% else %>
  <%= link_to 'Generate list', new_event_gift_path(@event) %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Delete', event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
