<div class="body-container">

  <div class="primary-container">

    <%= link_to dashboard_path, class: "btn-back" do %>
      <i class="fa-solid fa-chevron-left"></i> Retour
    <% end %>


    <div class="top-section">
      <div class="date-section date-show">
        <span id="date"><%= @event.date.strftime('%d/%m/%Y') %></span>
        <i class="fa-solid fa-calendar"></i>
        </div>
        <%= link_to edit_event_path(@event), class: "btn btn-square btn-green" do %>
          <i class="fa-solid fa-pen"></i>
        <% end %>
    </div>

    <div class="form-container">
      <div class="secondary-container">
        <h3>Nom de l'évènement</h3>
        <%= @event.name %>
      </div>

      <% if @event.url != "" && !@event.url.nil? %>
        <div class="secondary-container">
          <h3>Lien</h3>
          <% url = @event.url.gsub(/https?:\/\/(www\.)?/, "") %>
          <%= link_to url, @event.url, target: :_blank %>
        </div>
      <% end %>


      <% if @event.description != "" %>
        <div class="secondary-container">
          <h3>Description</h3>
          <%= @event.description %>
        </div>
      <% end %>
    </div>





    <% if @event.gift.class.name != "NilClass" %>
      <h3>La liste de cadeaux</h3>
      <ul>
        <% @event.gift_list.each do |gift| %>
          <%# <li data-save-gift-target="gift"> %>
            <div class="secondary-container geeft">
              <div class="geeft-left">
                <div class="gift-icon">
                  <i class="fa-solid fa-gift"></i>
                </div>
                <div class="gift">
                  <%= gift %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

    <% else %>
        <%= link_to 'Trouver le parfait cadeau', new_event_gift_path(@event), class: 'btn btn-green' %>
    <% end %>


  <!-- Prévoir le bouton "Partager" -->
  <!-- <%= link_to 'Delete', event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> -->
  </div>

</div>
