<div class="body-container">

  <div class="btn-back">
    <%= link_to :back, class: "btn-back" do %>
      <i class="fa-solid fa-chevron-left"></i> Retour
    <% end %>
  </div>

  <% model_to_use = [@event, @gift] || @gift %>
  <%= simple_form_for(model_to_use, url: gifts_path(event_id: @event), html: { class: "criteria-form"})  do |f| %>

    <div class="age-genre">

      <div class="new-form-section age" data-controller="age-buttons">
        <%= f.label :age, class: "criteria-title", required: false %>
        <div class="age-user">
            <button type="button" class="age-btn" data-action="click->age-buttons#minusOne">
              <i class="fa-solid fa-minus"></i>
            </button>
          <%= f.input :age, as: :hidden, input_html: { data: { age_buttons_target: 'hiddenInput' } } %>
          <input type="text" id="age_input" value="30" class="form-control text-center" data-age-buttons-target="input" />
            <button type="button" class="age-btn" data-action="click->age-buttons#plusOne">
              <i class="fa-solid fa-plus"></i>
            </button>
        </div>
      </div>

      <div class="new-form-section genre">
        <%= f.label :genre, "Genre", class: "criteria-title" %>
        <div class="genders">
          <% genders = ["female", "neutral","male"] %>
          <%= f.input :genre, collection: genders, as: :radio_buttons, label: false, required: false do %>
            <div class="radio-buttons">
              <% genders.each do |genre| %>
                <div class="radio-button <%= genre %>">
                  <%= f.radio_button :genre, genre, id: "genre_#{genre}" %>
                  <% french_gender = 'neutre' %>
                  <label for="genre_<%= genre %>">
                    <% case genre %>
                    <% when "female" %>
                      <i class="fa-solid fa-venus"></i>
                      <% french_gender = 'femme' %>
                    <% when "neutral" %>
                      <i class="fa-solid fa-mars-and-venus"></i>
                      <% french_gender = 'neutre' %>
                    <% when "male" %>
                      <i class="fa-solid fa-mars"></i>
                      <% french_gender = 'homme' %>
                    <% end %>
                  <span class="gender-info <%= genre %>"><%= french_gender %></span>
                  </label>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>

    </div>

    <div class="sections" data-controller="search-input">
      <div class="new-form-section relationship">
        <%= f.label :relationship, "Relation", class: "criteria-title" %>
        <div class="background"></div>
        <div class="search">
          <span class="search-icon" data-action="click->search-input#animate" data-search-input-value="relationship">🔎</span>
          <input type="text" id="searchRelationshipInput" data-action="keyup->search-input#filterList" data-search-input-target="relationshipInput">
        </div>
        <%= f.input :relationship, collection: Gift::RELATIONSHIPS.sort, as: :radio_buttons, label: false, required: false %>
      </div>

      <div class="new-form-section occasion">
        <%= f.label :occasion, "Occasion", class: "criteria-title" %>
        <div class="background"></div>
        <div class="search">
          <span class="search-icon" data-action="click->search-input#animate" data-search-input-value="occasion">🔎</span>
          <input type="text" id="searchOccasionInput" data-action="keyup->search-input#filterList" data-search-input-target="occasionInput">
        </div>
        <%= f.input :occasion, collection: Gift::OCCASIONS.sort, as: :radio_buttons, label: false, required: false, class: "choiceList"  %>
      </div>

      <div class="new-form-section budget" data-controller="budget-slider">
        <%= f.label :budget, "Budget", class: "criteria-title" %>
        <%= f.input :budget, as: :range, input_html: { id: 'budget-slider', min: 0, max: 500, step: 1, value: 50 , data: { action: "input->budget-slider#updateValue", budget_slider_target: "slider" } },label: false %>
        <div id="budget-value" data-budget-slider-target="input">50</div>
      </div>

      <div class="new-form-section interests">
        <%= f.label :interests, "Centres d'intérêts", class: "criteria-title" %>
        <div class="background"></div>
        <div class="search">
          <span class="search-icon" data-action="click->search-input#animate" data-search-input-value="interests">🔎</span>
          <input type="text" id="searchInterestInput" data-action="input->search-input#filterList" data-search-input-target="interestsInput">
        </div>
        <i class="fa-solid fa-xmark" id="x-mark" data-action="click->search-input#empty"></i>
        <i class="fa-solid fa-rotate-right" id="reset" data-action="click->search-input#reset"></i>
        <%= f.input :interests, collection: Gift::INTERESTS.sort, as: :check_boxes, label: false, required: false %>
      </div>
    </div>

      <div class="btn__theme btn btn-green">
      <%= button_tag(type: 'submit') do %>
        <div class="btn__content">
          <%= image_tag('confetti.svg') %>
          Let's Geeft it !
        </div>
      <% end %>
    </div>



  <% end %>

</div>
