  <div class="btn-back">
      <%= link_to '< Retour', new_gift_path %>
    </div>


<%= @gift.occasion %>
<%= @gift.relationship %>
<%= @gift.genre %>
<%= @gift.interests %>
<%= @gift.budget %>
<%= @gift.age %>
<br>
<div data-controller="save-gift">

<h1>List of gifts :</h1><br>
<ul data-controller="refresh-gift" data-save-gift-target="list">
<% @gift.generated_list.each_with_index do |gift, index| %>
  <% if (index < 5) %>
    <li data-save-gift-target="gift">
      <%= gift %>
      <div data-action="click->refresh-gift#refresh">X</div>
    </li>
  <% else %>
    <li data-refresh-gift-target="hiddenGift" style="display: none">
      <%= gift %>
      <div data-action="click->refresh-gift#refresh">X</div>
    </li>
    <% end %>
<% end %>

<%= form_with(url: gift_path, method: :patch) do |f| %>
  <%= f.text_field :comment, as: :text %>
  <%= f.submit %>
<% end %>

  <% if @event.id %>
    <a href="" data-env=<%= Rails.env %> data-id=<%= @gift.id %> data-event-id=<%= @event.id %>
    data-action="click->save-gift#save" data-save-gift-target="saveList">Ajouter à l'event</a>
  <% else %>
    <%= link_to 'Créer un event', updatelist_path(@gift), data: { env: Rails.env, id: @gift.id, action: "click->save-gift#save", save_gift_target: "saveList" } %>
  <% end %>
</div>
