<div class="body-container">
  <% if @user == "guest" %>
    <%= link_to 'login', login_path %>
    <%= link_to 'signup', signup_path %>
  <% else %>
    <div class="home-title">
    <%= "Hello " + @user.username if @user.username%>
  <% end %>
</div>

<div class="home-subtitle">
  Prochains événements :
</div>

<%= render 'shared/event' %>

<div class="home-buttons">

    <%= link_to 'dashboard', dashboard_path, class: "btn-green" %>


    <%= link_to 'generate list', new_gift_path %>
    </div>


</div>
