
<div class="body-container">
  <% if @user == "guest" %>
    <%= link_to 'login', login_path %>
    <%= link_to 'signup', signup_path %>
  <% else %>
    <div class="home-title">
    <%= "Hello " + @user.username if @user.username%>
  <% end %>
</div>



  <div class="home-subtitle">
    Prochains évènements :
  </div>
  <%= render 'shared/event' %>

  <div class="home-buttons">

<div class="btn btn-green">
    <%= link_to 'Tableau de Bord', dashboard_path%>
</div>

<div class="btn btn-purple">
    <%= link_to 'Trouver un cadeau', new_gift_path %>
    </div>
</div>

</div>
