<!-- navbar homepage mobile -->
<div class="mobile-homepage">
  <%= link_to raw("<i class=\"fa-regular fa-calendar\"></i>"), dashboard_path %>
  <div class="slogan-mobile">
    Trouve le cadeau parfait
  </div>
  <div class="menu">
    <!-- Dropdown Menu à prévoir en JS -->
    <i class="fa-solid fa-bars"></i>
  </div>
</div>


<!-- homepage desktop -->
<div class="body-container">
  <% if @user == "guest" %>
    <%= link_to 'login', login_path %>
    <%= link_to 'signup', signup_path %>
  <% else %>
    <div class="home-title">
    <%= "Hello " + @user.username if @user.username%>
  <% end %>
    </div>


  <div class="home-subtitle">
    Prochains évènements :
  </div>
  <%= render 'shared/event_home' %>
  <div class="home-buttons">
    <div class="btn btn-green">
      <%= link_to 'Tableau de Bord', dashboard_path%>
    </div>
    <div class="btn btn-purple">
      <%= link_to 'Trouver un cadeau', new_gift_path %>
    </div>
  </div>



  <!-- Bouton rond mobile pour générer la liste cadeau -->
  <div class="btn-mobile">
    <%= link_to raw("<i class=\"fa-solid fa-gift\"></i>"), new_gift_path %>
  </div>

</div>
