<!-- navbar homepage mobile -->
<div class="mobile-homepage">
  <%= link_to raw("<i class=\"fa-regular fa-calendar\"></i>"), dashboard_path %>

  <div class="top-page-mobile">
    <%= link_to image_tag('geeft-logo-mobile.svg', alt: 'Geeft logo'), root_path %>
  </div>

  <div class="menu">
    <!-- Dropdown Menu à prévoir en JS -->
    <i class="fa-solid fa-bars"></i>
  </div>
</div>


<!-- homepage logged-out desktop -->
<div class="body-container">
  <div class="home-page-logged-out">
    <% if @user == "guest" %>
      <div class="geeft-presentation">
        <h2 class="home-subtitle">Bienvenue sur geeft, la plateforme pour ne plus se prendre la tête avec les cadeaux</h2>
        <p class="presentation-text">Grâce à geeft, l'appli rend la quête du cadeau parfait super facile. Il suffit de partager quelques infos clés, comme l'âge ou le budget, et hop, Geeft te propose une sélection d'idées personnalisées et originales qui devraient t'inspirer et assurer la joie de tes proches.</p>
      </div>

      <div class="home-buttons">
          <div class="btn__theme btn-home btn-green ">
            <%= link_to new_user_registration_path do %>
            <div class="btn__content">
              <%= image_tag('signup.svg', alt: 'Inscription') %>
              Inscription
            </div>
            <% end %>
          </div>



        <div class="home-buttons">
          <div class="btn-home btn__theme btn-purple">
            <%= link_to new_user_session_path do %>
            <div class="btn__content">
              <%= image_tag('signin.svg', alt: 'Connexion') %>
              Connexion
          </div>
          <% end %>
        </div>
      </div>

    </div>
    <% else %>

<!-- homepage logged-in desktop -->
    <div class="home-title">
    <%= "Hello " + @user.username if @user.username%>
    </div>
    <div class="home-subtitle">
      Prochains évènements
    </div>
    <%= render 'shared/event_home' %>
    <div class="home-buttons">
      <%= link_to dashboard_path, class: "btn-home btn__theme btn-green" do%>
        <div class="btn__content">
          <%= image_tag('calendar2.svg', alt: 'Calendrier') %>
          Calendrier
        </div>
      <% end %>

      <%= link_to new_gift_path, class: "btn-home btn__theme btn-purple" do %>
        <div class="btn__content">
          <%= image_tag('close-gift.png', alt: 'Cadeau') %>
          Créer une liste cadeau
        </div>
      <% end %>
    </div>


  <!-- Bouton rond mobile pour générer la liste cadeau -->
  <div class="btn-mobile">
    <%= link_to raw("<i class=\"fa-solid fa-gift\"></i>"), new_gift_path %>
  </div>
  <% end %>
</div>
