<div class="body-container">

  <div class="btn-back">
    <%= link_to '< Retour', :back %>
  </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="info-user">
        <h2>Email</h2>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: "Email or username",
                    input_html: { autocomplete: "email" }
                    %>
        </div>
        <div class="info-user">
          <h2>Mot de Passe</h2>
          <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
          </div>


            <%= f.input :remember_me, as: :boolean, label: "Se souvenir de moi" if devise_mapping.rememberable? %>



          <div class="btn__theme btn btn-green">
          <%= button_tag(type: 'submit') do %>
            <div class="btn__content">
              <%= image_tag('signin.svg', alt: 'Connexion') %>
              Connexion
            </div>
          <% end %>
        </div>


      <%= render "devise/shared/links" %>
      </div>

    <% end %>
</div>
